<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Loja Virtual com Spring MVC Spring Boot</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/image/favicon.png" />

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 th:text="'Pagina index'">Header brabo</h1>
    <a class="btn btn-dark" href="admin/clients">Painel admin clientes</a>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
